.page-node-type-lp-new{
    font-size: 20px;
    font-family: "Noto Sans Hebrew", sans-serif;
    main{
        padding: 86px 0 0!important;
        width: 100% !important;
    }
    .whatsapp-wrapper{
        min-width: 305px;
        text-align: left;
        @include res(s-m){
            min-width: 40px;
        }
        a{
            display: flex;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 10px;
            .icon{
                margin-#{$end}: 20px;
                @include res(s-m){
                    max-width: 40px;
                    margin-#{$end}: 0px;
                }
            }
            .texts{
                @include res(s-m-l){
                    display: none;
                }
            }
            .field--name-field-whatsup-text{
                font-size: 0.6em;
            }
            .field--name-field-whatsup-phone{
                font-size: 1.4em;
                font-weight: 600;
                direction: ltr;
            }
        }
    }
    .width-wrapper{
        width: 1630px;
    }
    header{
        top: 0;
        left: 0;
        margin: 0!important;
        padding: 0;
        box-shadow: none;
        background-color: #fff;
        .width-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{
                @include res(s-m-l){
                    width: 90px;                }
                img{
                    max-height: 60px;
                    width: auto;
                }
            }
        }
    }
    &.scroll{
        header{
            box-shadow: 0 0 10px rgba(0,0,0,0.08);
        }
    }
    .banner{position: relative;
        .field--name-field-main-image-mobile{
            display: none;
            @include res(s-m){
                display: block;
                + .field--name-field-main-image{
                    display: none;
                }
            }
        }
        .field--name-field-main-image, .field--name-field-main-image-mobile{
            @include res(s-m-l){
                min-height: 400px;
                img{
                    min-height: 400px;
                    object-fit: cover;
                }
            }
        }
        .on-image{
            position: absolute;
            top: 0;
            position: absolute;
            color: #fff;
            padding: 40px 80px 0;
            box-sizing: border-box;
            @include res(xl){
                padding: 10px 20px 0;
                font-size: 0.8em;
            }
            @include res(l){
                padding: 10px 20px 0;
                font-size: 0.8em;
            }
            @include res(s-m){
                font-size: 0.8em;
                text-align: center;
                padding: 20px;
                box-sizing: border-box;
                width: calc(100% - 60px);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &:before{
                    content: "";
                    background-color: rgba(0,0,0,0.2);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0
                }
            }
            h1{
                max-width: 500px; 
                font-size: 2em;  
                color: #fff;
                @include res(s-m){
                    max-width: 100%;
                    position: relative;
                }
            }
            h2{
                font-weight: normal;
                max-width: 400px;
                line-height: 1.4;
                font-size: 1.5em;
                color: #fff;
                @include res(s-m){
                    max-width: 100%;
                    position: relative;
                    margin: 0;
                    font-size: 1.2em;
                }
            }
        }
    }
        .owl-controls{
        position: absolute;
        top: 50%;
        width: 100%;
        right: 0;
        .owl-prev{
            #{$start}: -50px;
            position: absolute;
            text-indent: -9999px;
            width: 20px;
            height: 30px;
            &:before, &:after{
                content:"";
                position: absolute;
                width: 16px;
                height: 1px;
                background-color: #0e2434;
                #{$start}: 0;
            }
            &:before{
                transform: rotate(-45deg);
                top: 23px
            }
            &:after{
                transform: rotate(45deg);
                top: 12px;
            }
            &.disabled{
                opacity: 0.1;
                cursor: default;
            }
        }
        .owl-next{
            #{$end}: -50px;
            position: absolute;
            text-indent: -9999px;
            width: 20px;
            height: 30px;
            &:before, &:after{
                content:"";
                position: absolute;
                width: 16px;
                height: 1px;
                background-color: #0e2434;
                #{$start}: 0;
            }
            &:before{
                transform: rotate(45deg);
                top: 23px
            }
            &:after{
                transform: rotate(-45deg);
                top: 12px;
            }
            &.disabled{
                opacity: 0.5;
            }
        }
    }
    .paragraph.paragraph--type--grid{
        overflow: hidden;
        .field--name-field-cubes{
            > .field__item{
                @include res(l){
                    width: 47%;
                    margin-#{$end}: 6%;
                        &:nth-child(2n){
                        margin-#{$end}: 0;
                    }
                }
            }
        }
        > .content{
            @include res(s-m){
                padding-left: 60px;
                padding-right: 60px;
                padding-bottom: 50px;
            }
        }
        > .content{
                @include res(xl){
                    font-size: 0.9em;
                }
                @include res(l){
                    font-size: 0.9em;
                }
                > .field--name-field-title-formated{
                    text-align: center;
                    font-size: 2.2em;
                    margin-bottom: 90px;
                    @include res(xl){
                        margin-bottom: 50px;
                    }
                    @include res(l){
                        margin-bottom: 50px;
                        font-size: 2em;
                    }
                    @include res(s-m){
                        font-size: 1.5em;
                    }
                }
            }
        .paragraph--type--grid-item{
            max-width: 350px;
            position: relative;
            text-align: initial;
            @include res(xl){
                font-size: 0.9em;
            }
            &:before{
                content: "";
                border-radius: 10px;
                border: 3px solid #FFF;
                background: #FFF;
                box-shadow: 0px 4px 23.6px 0px rgba(0, 0, 0, 0.13);
                width: 53px;
                height: 53px;
                display: block;
                box-sizing: border-box;
                @include res(s-m){
                    margin-#{$start}: 22px;
                    margin-top: 20px;
                }
            }
            &:after{
                content: "";
                width: 15px;
                height: 15px;
                position: absolute;
                top: 20px;
                right: 20px;
                background-color: #37C56B;
                border-radius: 50%;                
                @include res(s-m){
                    margin-#{$start}: 22px;
                    margin-bottom: 20px;
                }
            }
            .field--name-field-title{
                font-size: 1.5em;
                margin-bottom: 15px;
                margin-top: 10px;
                color: $default;
            }
        }
    }
    .paragraph--type--webform{
        background-color: #F7F7F7;
        margin: 0!important;
        padding-bottom: 80px;
    }
    .paragraph.paragraph--type--title-images{
        background-color: #F7F7F7;
        padding: 70px 0;
        overflow: hidden;
        > .content{
            @include res(s-m){
                padding: 0;
            }
        }
        .owl-stage{
            display: flex;
            .owl-item > .field__item{
                height: 100%;
                img{
                    height: 100%;
                }
            }
        }
        .field--name-field-four-images{
            @include res(s-m){
                margin-left: 60px;
                margin-right: 60px;
                padding: 0;
                width: calc(100% - 120px);
            }
        }
    }
    footer{
        background-color: #F7F7F7;
        padding-bottom: 80px;
        margin: 0;
        @include res(s-m-l){
            padding-bottom: 20px;
            .whatsapp-wrapper{
                display: none;
            }
        }
        .width-wrapper{
            display: flex;
            justify-content: space-between;
            @include res(s-m-l){
                display: block;
            }
            .left{
                display: flex;
                flex-wrap: wrap;
                direction: ltr;
                @include res(s-m){
                    display: block;
                }
                > div{
                    width: 50%;
                    margin-bottom: 26px;
                    @include res(s-m){
                        width: 100%;
                    }
                    .icon rect{
                        fill: #6468C9;
                    }
                    a{
                        display: flex;
                        align-items: center;
                        font-weight: 300;
                        .icon{
                            width: 25px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-#{$start}: 20px;
                        }
                    }
                }
            }
        }
    }
   .float-webform{
        width: 100%;
        background-color: #6468C9;
        padding: 22px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-#{$start}: 20px;
        box-sizing: border-box;
        margin-top: 20px;
        @include res(s-m-l){
            flex-wrap: wrap;
        }
        @include res(s-m){
            padding: 20px;
        }
            > .label{
                color: #fff;
                font-weight: normal;
                margin-#{$end}: 40px;
                min-width: 130px;
                @include res(s-m-l){
                    margin-bottom: 10px;
                }
            }
            .the-form{
                @include res(s-m){
                    width: 100%;
                }
            }
            form{
                display: flex;
                @include res(s-m){
                    display: block;
                }
                .js-form-item{
                    width: 15.5%;
                    margin: 0;
                    margin-#{$end}: 1.5%;
                    @include res(s-m){
                        width: 100%;
                        margin: 0 0 10px;
                    }
                    &.js-form-item-url:last-child{
                        display: none;
                    }
                    input, textarea{
                        width: 100%;
                        border: none;
                        height: 30px;
                        box-sizing: border-box;
                        font-size: 0.6em;
                        padding: 7px 5px;
                        resize: none;
                    }
                    &.js-form-type-textarea{
                        width: 31%;
                        @include res(s-m){
                            width: 100%;
                        }
                    }
                }
                .webform-button--submit{
                    width: 15.5%;
                    margin: 0;
                    border-radius: 5px;
                    background: #000;
                    color: #fff;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.09);
                    font-size: 0.8em;
                    border: none;
                    @include res(s-m){
                        width: 100%;
                    }
                }
            }
    }
}

.paragraph--type--title-images{
    .title_wrapper{
        @include width;
        width: 1500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include res(s-m-l){
            font-size: 0.8em;
        }
        @include res(s-m){
            display: block;
        }
        .field--name-field-title{
            font-size: 3em;
            width: 44%;
            @include res(xl){
                font-size: 2.5em;
            }
            @include res(l){
                font-size: 2.5em;
            }
            @include res(s-m){
                width: 100%;
            }
        }
        .field--name-field-subtitle{
            width: 46%;
            line-height: 1.5;
            @include res(s-m){
                width: 100%;
            }
        }
    }
    .field--name-field-four-images{
        @include width;
        width: 1500px;
        margin: 60px auto 0;
        display: flex;
        justify-content: space-between;
        @include res(s-m){
            display: block;
        }
        > .field__item{
            margin-#{$end}: 30px;
            @include res(s-m){
                margin-#{$end}: 0;
                margin-bottom: 20px;
            }
            &:last-child{
                margin-#{$end}: 0;
            }
        }
        img{
            border-radius: 50px;
            @include res(l){
                border-radius: 30px;
                min-height: 250px;
                object-fit: cover;
            }
            @include res(s-m){
                object-fit: cover;
                width: 100%;
                height: auto;
                max-height: 300px;
            }
        }
    }
}

.page-node-type-lp-new .paragraph.paragraph--type--webform{
    > .content{
        @include width;
        width: 1630px;
        display: flex;
        width: 1630px !important;
        padding: 0 50px !important;
        box-shadow: none;
        @include res(s-m){
            display: block;
            padding: 0 !important;
        }
        .field--name-field-image{
            width: 50%;
            @include res(s-m){
                width: 100%;
                display: block;
                img{
                    position: relative;
                }
            }
            img{
                margin-bottom: -4px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .webform-content{
            margin: 0;
            max-width: initial;
            width: 50%;
            position: relative;
            padding: 100px 20px 50px;
            box-sizing: border-box;
            &:before{
                display: none;
            }
            @include res(s-m){
                width: 100%;
                font-size: 0.8em;
                padding: 20px;
            }
            .field--name-field-image-bg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .field--name-field-subtitle{
                font-size: 2.25em;
                color: #fff;
                max-width: 435px;
                margin: 0 auto;
                position: relative;
                z-index: 1;
                font-weight: normal;
                .point{
                    display: none;
                }
            }
            .field--name-field-webform{
                max-width: 435px;
                margin: 0 auto; 
                position: relative;
                z-index: 1;
                form{
                    display: block;
                    padding: 0;
                    .form-item--error-message{
                        strong{
                            color: #fff;
                        }
                    }
                    .js-form-item-url:last-child{
                        display: none;
                    }
                    .js-form-item{
                        width: 100%;
                        margin-top: 1em;
                        margin-bottom: 1em;
                        input{
                            height: 45px;
                            border-radius: 5px;
                            border: none;
                            font-size: 1em;
                            background: #fff;
                            padding: 10px;
                            font-family: "Noto Sans Hebrew", sans-serif;
                            background: #fff;
                        }
                        textarea{
                            border-radius: 5px;
                            border: none;
                            font-family: "Noto Sans Hebrew", sans-serif;
                        }
                    }
                    .webform-button--submit{
                        border-radius: 5px;
                        background: #000;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        border: none;
                        height: 45px;
                        margin-#{$start}: auto;
                        margin-#{$end}: 0;
                        display: block;
                        color: #fff;
                        font-size: 1em;
                        padding: 10px 60px;
                    }
                }   
            }
        }
    }
}