article.node--type-page{
  .videos-wrapper{
    height: calc(100vh - 150px);
    overflow: hidden;
    display: flex;
    position: relative;
    @include res(s-m-l){
      height: calc(100vh - 100px);
    }
    video{
      width: 50%;
      height: 100%;
      object-fit: cover;
    }
    .on-videos-titles{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 50px;
      z-index: 10;
      box-sizing: border-box;
      @include res(xl){
        padding: 0 30px;
      } 
      @include res(s-m-l){
        padding: 0 20px;
      }
      h1 {
        font-size: 5em;
        font-weight: 900;
        color: #fff;
        @include res(xl){
          font-size: 4em;
        }
        @include res(l){
          font-size: 3em;
        }
        @include res(s-m){
          font-size: 2.5em;
        }
      }
      h2 {
        color: #fff;
        font-size: 2.25em;
        font-weight: 700;
        @include res(xl){
          font-size: 1.8em;
        }
        @include res(l){
          font-size: 1.5em;
        }
        @include res(s-m){
          font-size: 1.2em;
        }
      }
    }
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(104, 52, 154, 0.20);
    }
  }
    .width-wrapper.header{
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      display: flex;
      .right{
        width: 42%;
        margin-top: 60px;
        @include res(xl){
          font-size: 0.8em;
        }
        @include res(l){
          font-size: 0.7em;
        }
        @include res(s-m){
          width: 100%;
          margin-top: 20px;
          font-size: 0.8em;
        }
        h1{
          padding-top: 0;
          font-size: 4em;
          text-align: initial;
          font-weight: 700;
          color: $purple;
        }
        h2{
          font-weight: normal;
          margin-bottom: 50px;
          font-size: 1.2em;
          color: $default
        }
        .field--name-field-link{
          text-align: left;
          a{
            @include button;
          }
        }
      }
      .left{
        width: 42%;
        margin-top: 60px;
        @include res(s-m){
          width: 100%;
        }
      }
    }
    .titles{
      padding: 0 30px;
        h2{
            font-weight: 500;
            max-width: 650px;
            margin: 0 auto;
            font-size: 1.5em;
            font-weight: 600;
            @include res(xxl){
              font-size: 1.1em;
            }
            @include res(xl){
              font-size: 1.1em;
            }
            @include res(l){
              font-size: 1.1em;
            }
            @include res(s-m){
              font-size: 1em;
            }
        }
      }
    .node__content{
      width: 100%;
    }
  }

  /*
  .path-frontpage{
    .header{
      .field--name-field-link{
        position: relative;
        &:after{
          content:"";
          width: 1664px;
          height: 1214px;
          position: absolute;
          top: 60px;
          right: 90px;
          z-index: -1;
          @media (max-width:1860px){
            display: none;
          }
        }
      }
    }
  }*/