.paragraph--type--grid{
    .field--name-field-title-formated{
        text-align: center;
        font-size: 2.5em;
        font-weight: 600;
        @include res(s-m-l){
            font-size: 1.7em;
        }
    }
    .field--name-field-subtitle-long{
        color: $purple;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.4em;
        max-width: 1190px;
        margin: 0 auto 50px;
        @include res(s-m-l){
            font-size: 1.2em;
        }
    }
    .field--name-field-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > .field__item{
            width: 30%;
            margin: 0 1.5%;
            max-width: 420px;
            text-align: center;
            margin-bottom: 100px;
            @include res(l){
                width: 48%;
                margin-bottom: 50px;
            }
            @include res(s-m){
                width: 100%;
                margin-bottom: 30px;
            }
            &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3){
                margin-bottom: 0;
                @include res(s-m){
                    margin-bottom: 30px;
                }
            }
            &:nth-last-child(3){
                @include res(l){
                    margin-bottom: 50px;
                }
            }
            .field.field--name-field-icon {
                height: 130px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .field--name-field-title{
                font-size: 1.5em;
                color: $purple;
                margin-bottom: 13px;
            }
            .field--name-field-content{
                line-height: 1.5em;
            }
        }
    }
    &.grid_4{
        .field--name-field-items{
            > .field__item{
                width: 23%;
                margin: 0 1%;
            }
        }
    }
    &.id-16, &.id-20{
        max-width: 1600px;
        margin: 0 auto;
        font-size: 0.85em;
        .paragraph--type--editor{
            height: 100%;
            .content{
                height: 100%;
                .field--name-field-editor{
                    height: 100%;
                }
            }
        }
        .field--name-field-items > .field__item{
            margin-bottom: 0;
            @include res(s-m-l){
                width: 100%;
                margin: 0 auto 30px;
            }
        }
    }
    &.id-1{
        margin-bottom: 186px;
        @media (max-width: 1860px){
            margin-bottom: 90px;
        }
        .field--name-field-items{
            margin-top: 95px;
            @include res(s-m-l){
                margin-top: 0;
            }
        }
    }
}

.card-element{
    box-shadow: -1px 0px 10.9px 11px rgba(0, 0, 0, 0.05);
    border-radius: 28px;
    padding: 30px 23px 64px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 50px;
    @include res(xl){
        font-size: 0.8em;
    }
    @include res(s-m){
        font-size: 0.8em;
    }
    .small{
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 30px;
        &.more-space{
            margin-bottom: 40px;
        }
    }
    .price{
        font-weight: 600;
        font-size: 2em;
        margin-bottom: 10px;
        .big{
            font-weight: 700;
            font-size: 1.3em;
        }
    }
    .grey{
        color: #787878;
        font-size: 1.1em;
        margin-bottom: 45px;
    }
    ul.dark-purple{
        margin-top: 50px;
        text-align: $start;
        font-size: 1.1em;
        li{
            padding-bottom: 20px;
            &:before{
                width: 24px;
                height: 24px;
                top: -2px;
            }
        }
    }
}