.paragraph--type--image-text{
    h2{
        text-align: center;
        padding-bottom: 100px;
        @include res(s-m-l){
            padding-bottom: 40px;
        }
    }
    .flex{
        justify-content: space-between;
        align-items: center;
        @include res(s-m){
            display: block;
        }
        .start{
            width: 30%;
            @include res(xl){
                font-size: 0.8em;
            }
            @include res(l){
                width: 40%;
                font-size: 0.7em;
            }
            @include res(s-m){
                width: 100%;
                font-size: 0.8em;
                margin-bottom: 20px;
            }
        }
        .end{
            width: 60%;
            @include res(l){
                width: 50%;
            }
            @include res(s-m){
                width: 100%;
            }
            img{
                max-width: 100%;
                box-sizing: border-box;
            }
        }
    }
    &.side-start{
        .flex{
            flex-direction: row-reverse;
        }
    }
    .field--name-field-editor{
        font-size: 1.5em;
        h3{
            color: $dark-purple;
            font-size: 1.7em;
            font-weight: 600;
        }
        ul{
            font-size: 0.75em;
        }
    }
}