#menu-toggle {
    width:24px;
    height:16px;
    cursor:pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    z-index: 1001;
    margin-top: 9px;
    border-radius: 50%;
    #hamburger {
      direction: rtl;
      span {
        border-radius: 10px;
        height:2px;
        margin:0px 0 5px;
        display: block;
        background-color: #fff;
        transition:.25s ease-in-out;
        -webkit-transition: .25s ease-in-out;
        box-sizing:border-box;
        width:24px;          
        &:nth-child(1){
          transition-delay:.75s;
          -webkit-transition-delay:.75s;
        }
        &:nth-child(2){
          transition-delay:.625s;
          -webkit-transition-delay:.625s;
        }
        &:nth-child(3){
          transition-delay:.5s;
          -webkit-transition-delay:.5s;
        }
      }
    }
    #cross {
      height:100%;
      width:100%;
      transform:rotate(45deg);
      -ms-transform: rotate(45deg); 
      -webkit-transform: rotate(45deg); 
      position: relative;
      top: -25px;
      right: 6px;
      span{
        border-radius: 10px;
        display: block;
        background-color: #fff;
        transition:.25s ease-in-out;
        -webkit-transition: .25s ease-in-out;;
        box-sizing:border-box;
        &:nth-child(1){
          height:0;
          width:3px;
          position:absolute;
          #{$end}:19px;
          top: -7px;
          transition-delay:0s;
          -webkit-transition-delay:0s;
          [dir="ltr"] &{
            right: 4px;
            top: -5px;
          }
        }
        &:nth-child(2){
          width:0%;
          height:3px;
          position:absolute;
          #{$end}:8px;
          top: 4px;
          transition-delay:.25s;
          -webkit-transition-delay:0.25s;
          [dir="ltr"] &{
            right: -7px;
            top: 5px;
          }
        }
      }
    }
  }
 
.open-menu{
   header .width-wrapper .region-menu{
    #{$start}: 0;
  }
  #menu-toggle {
    #hamburger {
      span {
        width:0%;
        &:nth-child(1){
          transition-delay:.25s;
          -webkit-transition-delay:0.25s;
        }
        &:nth-child(2){
          transition-delay:.125s;
          -webkit-transition-delay:0.125s;
        }
        &:nth-child(3){
          transition-delay:0s;
          -webkit-transition-delay:0s;
        }
      }
    }
    #cross {
      span {
        &:nth-child(1){
          height:24px;
          transition-delay:.625s;
          -webkit-transition-delay:0.265s;
        }
      }
      span {
        &:nth-child(2){
          width:24px;
          transition-delay:.375s;
          -webkit-transition-delay:0.375s;
        }
      }    
    }
  }
}

header{
  position: fixed;
  #{$start}: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  z-index: 400;
  background-color: $purple;
  padding: 10px 70px;
  padding-#{$start}: 50px;
  box-sizing: border-box;
  display: flex;
  color: #fff;
  align-items: center;
  @include res(s-m-l){
    justify-content: space-between;
  }
  @include res(s-m){
    padding: 13px 20px;
  }
  .path-frontpage &{
    background: none;
  }
  .website-logo{
    padding: 0;
    max-width: 110px;
    @include res(s-m-l){
      position: relative;
      max-width: 80px;
    }
  }
  .region-menu{
    .region{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include res(s-m-l){
        display: block;
      }
      #block-genie-lang{
        li{
          padding: 0;
          &.is-active{
            display: none;
          }
          a:after{
            display: none;
          }
        }
        @include res(s-m-l){
          position: fixed;
          top: 27px;
          color: #fff;
          #{$start}: 94px;
          a{
            color: #fff;
            padding: 0;
            border: none;
          }
        }
      }
    }
  }
  .menu-wrapper{
    width: 100%;
    padding-#{$start}: 180px;
    @include res(s-m-l){
      position: fixed;
      width: 90%;
      max-width: 480px;
      top: 71px;
      height: calc(100% - 71px);
      overflow: auto;
      background-color: rgba(256, 256, 256, 0.95);
      display: block;
      box-sizing: border-box;
      #{$start}: -100%;
      transition: right 0.5s;
      padding: 50px 30px 0;
    }
    ul:not(.contextual-links){
      display: flex;
      padding: 0;
      margin: 0;
      @include res(s-m-l){
        display: block;
      }
      li{
        list-style: none;
        color: #fff;
        font-size: 0.9em;
        padding: 0 0 0 45px;
        @include res(s-m-l){
          padding: 0;
        }
        a{
          color: #fff;
          position: relative;
          @include res(s-m-l){
            text-align: initial;
            display: block;
            padding: 13px 0;
            border-bottom: 2px dotted $purple;
            width: 100%;
            color: $default;
          }
          &:after{
            position: absolute;
            right: 0;
            width: 0%;
            transition: width 0.5s;
            height: 2px;
            background-color: $green;
            content:"";
            bottom: -6px;
            @include res(s-m-l){
              display: none;
            }
          }
          &.active, &.is-active{
            &:after{
              width: 100%;
            }
          }
          &:hover{
            &:after{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.open-menu{
  overflow: hidden;
  header{
    .menu-wrapper{
      @include res(s-m-l){
        #{$start}: 0;
      }
    }
  }
}

body:before{
  @include res(s-m-l){
    content:"";
    opacity: 0;
    position: fixed;
    width: 100%;
    height: calc(100% - 47px);
    bottom: 0;
    left: 0;
    z-index: -10;
    background-color: rgba(0,0,0,0.76);
    transition: all 0.5s;
    top: 0;
  }
}

body.scroll{
  header{
      background-color: $purple;
  }
  &:before{
    @include res(s-m-l){
      height: calc(100% - 46px);
    }
  }
}

body.open-menu:before{
    z-index: 99;
    opacity: 1;
}